Pyrogram
Tgcrypto
asyncio
aiohttp
pymongo[srv]
motor
marshmallow
umongo
validators
requests
bs4
pytz
python-dotenv
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
tenacity
aiohttp
pyromod
aiofiles
dnspython
apscheduler
requests
psutil

langchain
PyPDF2
streamlit
faiss-cpu
altair
openai
langchain-community
tiktoken
langchain-openai
PyMuPDF
